
/*importo la tipografía desde Google*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@100&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
body {
	font-family: 'Fredoka', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6em;
	max-width: 100%;
	margin: 0 auto;

}
	
h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4em;
	
}



/*Menú cabecera*/

nav {
	width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
}

	nav a {

		flex: 1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 1.6rem;
		color: white;
		transition: .2s ease-in-out all;
		
	}

.icono-menu{
	display: none;
}

.home{
	background: #008F72;
}
	.home:hover {
		background: white;
		transition: all 0.5s linear;
		color: black;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
}

.ajedrez{
	background: #987FB9;
}
	.ajedrez:hover {
		background: white;
		transition: all 0.5s linear;
		color: black;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
}



/*Presentación*/

	.logo-menu {
		max-width: 72px;
		margin-left: -269px;
		margin-top: 10px;
	}
	
	.presentacion {
		display: flex;
		position: relative;
		height: 100vh;
		flex-direction: row;
		justify-content: space-evenly;
	}

    .descripción{
        max-width: 500px;
        max-height: 500px;
        padding-top: 15%;
    }

	.descripción h1{
		margin-bottom: 30px;
	}
	.descripción p{
		text-align: center;
	}

	.logo{
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	
	.logo_presentacion {
		max-height: 350px;
		animation: aparicion_logo 1.5s;
		-webkit-animation: aparicion_logo 1.5s;
}
	   
		@keyframes aparicion_logo {
			0% {
			opacity:0;
			}
			50%{
			opacity:0.5;
			}
			100% {
			opacity:1;
			}
		}


.primer-modulo{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 100px;
}

.introduccion {
	background: #008F72;
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-top-right-radius: 148px;
    border-bottom-right-radius: 148px;
}
.introduccion p{
	text-align: center;
	margin: 30px !important;
}
.contenedor-img-introduccion{
	background: white;
	margin-right: 100px;
}
.img-introduccion{
	max-width: 500px;
	display: block;
	padding-left: 143px;
}

.segundo-modulo{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
	margin-bottom: 100px;
}
.interactivo{
	background: #DB6997;
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-top-left-radius: 148px;
    border-bottom-left-radius: 148px;
}
.contenedor-img-interactivo{
	background: white;

}
.img-interactivo{
	max-height: 400px;
	display: block;	
}
 .interactivo p{
	text-align: center;
	margin: 30px;
 }

.tercer-modulo{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 100px;

}
.edades{

	background: #987FB9;
	height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-top-right-radius: 148px;
    border-bottom-right-radius: 148px;
}

.contenedor-img-edades{
	background: white;
}

.img-edades{
	max-width: 500px;
	display: block;
	padding-right: 143px;
}
.edades p{
	text-align: center;
	margin:30px !important;
}

.cuarto-modulo{
	align-items: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}


.form-registro{
	background: #987FB9;
	height: 400px;
    width: 500px;
	margin: 0px auto;
    border-radius: 20%;
}

.form-registro p {
	margin:40px !important;

}

.kid-form {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
	padding: 40px;
  }
  
  .kid-form h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color:white;
  }
  
  .kid-form label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
	color: white;
  }
  
  .kid-form input[type="text"],
  .kid-form input[type="email"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }

  .btnForm {
	 align-items: center;
     text-align: center;
     min-width: 230px;
     height: 50px;
     margin-top: 15px;
     margin-bottom: 30px;
     color: #fff;
     font-weight: bold;
     font-size: 1.3rem;
     cursor: pointer;
     transition: all 0.3s ease;
     position: relative;
     display: inline-block;
     outline: none;
     border: 1px solid #000;
     color: #000;
     background: transparent;
     z-index: 0;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}

		.btnForm:hover:after {
			top: 0;
			left: 0;
			}
			.btnForm:after {
				content: "";
				width: 100%;
				z-index: -1;
				position: absolute;
				height: 100%;
				top: 5px;
				left: 5px;
				transition: 0.2s;
				border-radius: 15px;
				background-color: #008F72;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				-ms-border-radius: 15px;
				-o-border-radius: 15px;
			}  
		
  

footer{
    background: #00A8BB;
    text-align: center;
    font-size: 1rem;
   	max-height: 100%;

}


@media only screen and (max-width: 767px) {
	nav {	
		display:none;
	};	

	.icono-menu{
		display: block;
		cursor: pointer;
	}
}





	